.experience-container{
    background: linear-gradient(-45deg, #070c46, #1a1a72, #0f0f2f, #2c2c8a);
    background-size: 400% 400%;
    height: 100vh;
    padding: 80px 90px;
}

.contacts-content{
    color:white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1{
    font-size: 70px;
}
